    
div.algorithm2e-container
{
    text-align: center;
}
    
div.algorithm2e
{
  text-align:     left;
  display: inline-block;
  max-width:     80%;
}

div.algorithm2e-boxed
{
    border: 1px solid black;       
}

div.algorithm2e-ruled
{
    border-top:     2px solid black;
    border-bottom:  2px solid black;       
}
      
div.algorithm2e-right
{
/*
  border:      1px solid #c900b8;
  margin:      1px;
*/
  margin-left: 50px;
  padding:     1px;
}
          
div.algorithm2e-block-0
{
/*
  border:  1px solid #aaaaaa;
  margin:  1px;
*/
  padding: 1px;
}

div.algorithm2e-block-x
{
/*
  border:         1px solid #aaaaaa;
  margin:         1px;
*/
  position:       relative;
  border-left:    1px solid black;
  padding:        2px;
  margin-left:    5px;
  padding-left:   5px;
}

div.algorithm2e-block-vlined
{
    margin-bottom:  5px;
}

div.algorithm2e-underbar
{
  position:  absolute;
  height:    0px;
  width:          10px;
  bottom:         -1px;
  left:           -1px;
}

div.algorithm2e-underbar-vlined
{
    border-bottom:  1px solid black;
}

div.algorithm2e-line
{
  position:   relative;
  padding:    0px;
  margin:     0px;
}

div.algorithm2e-lineno-pos
{
  position: relative;
  width:    0px;
  height:   0px;
/*
  border:   1px solid #0e9600;
  width:    10px;
  height:   10px;
*/
}

span.algorithm2e-lineno-anchor
{
  display:        inline-block;
  vertical-align: bottom;
  position:       relative;
  width:    0px;
  height:   0px;
/*
  border:   1px solid #0e9600;
  background-color: #0e9600;
  width:    10px;
  height:   10px;
*/
}

p.algorithm2e-lineno
{
/*
  border:     1px solid #f5b131;
*/
  text-align:    right;
  position:      absolute;
  top:           0px;
  padding:       0px;
  padding-right: 5px;
  margin:        0px;
  font-size:     smaller;
}

span.algorithm2e-lineno
{
/*
  border:           1px solid #f5b131;
  background-color: #f5b131;
*/
  font-size:     smaller;
  display:       inline-block;
  text-align:    right;
  position:      absolute;
  bottom:        0px;
  padding:       0px;
  padding-right: 5px;
  margin:        0px;
}

p.algorithm2e-line-text
{
/*
  border:      1px solid #001dff;
*/
  padding:      0px 2px;
  margin:       0px;
  padding-left: 20px;
  text-indent:  -20px;
}

div.algorithm2e-caption
{
/*
  border:        1px solid black;
  margin:        1px;
*/
  margin-top:    10px;
  text-align:    left;
  display:       inline-block;
  max-width:     60%;
  min-width:     600px;
  padding:       1px;
}

div.algorithm2e-caption-ruled
{
  border-bottom: 2px solid black;
  margin:        1px;
  padding:       1px;
}

span.algorithm2e-label
{
  font-weight: bold;
}

span.algorithm2e-kw
{
  font-family: monospace;
  font-weight: bold;
}

div.algorithm2e-clear
{
     width:  0px;
     height: 0px;
}
                
p.algorithm2e-lineno-0{ right:    0px; }
span.algorithm2e-lineno-0{ right:    0px; }
p.algorithm2e-lineno-1{ right:   11px; }
span.algorithm2e-lineno-1{ right:   11px; }
p.algorithm2e-lineno-2{ right:   22px; }
span.algorithm2e-lineno-2{ right:   22px; }
p.algorithm2e-lineno-3{ right:   33px; }
span.algorithm2e-lineno-3{ right:   33px; }
p.algorithm2e-lineno-4{ right:   44px; }
span.algorithm2e-lineno-4{ right:   44px; }
p.algorithm2e-lineno-5{ right:   55px; }
span.algorithm2e-lineno-5{ right:   55px; }
p.algorithm2e-lineno-6{ right:   66px; }
span.algorithm2e-lineno-6{ right:   66px; }
p.algorithm2e-lineno-7{ right:   77px; }
span.algorithm2e-lineno-7{ right:   77px; }
p.algorithm2e-lineno-8{ right:   88px; }
span.algorithm2e-lineno-8{ right:   88px; }
p.algorithm2e-lineno-9{ right:   99px; }
span.algorithm2e-lineno-9{ right:   99px; }

